#slider{
margin-left: 270px;
width:70%;
height: 250px;
}
#splide01-track{
margin-left: 5%;
height: 250px;

}
.splide__arrows {
    margin-left: 15%;
    margin-right: 25%;
}
.Buty{

background-color: aqua;

}