.Navbar {
	box-sizing: border-box;
	background-color: #252222;
	border-color: #af24ff;
	border-width: 0.6vh;
	border-style: solid;
	justify-content: space-evenly;
}

.list {
	background-color: #252222;
	color: white;
	text-align: center;
	position: relative;
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
}

li:hover {
	color: aqua;
	cursor: pointer;
}
