.Navbar {
  height: 50px;
  box-sizing: border-box;
  background-color: #252222;
  border-color: #af24ff;
  border-width: 0.6vh;
  border-style: solid;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  color: #af24ff;
  text-transform: uppercase;
  margin: 0;
}

Link {
  display: flex;
  align-items: center;
}

li:hover {
  color: aqua;
  cursor: pointer;
}
