.Navbar {
  width: 201vh;
  height: 50px;
  box-sizing: border-box;
  background-color: #252222;
  border-color: #af24ff;
  border-width: 0.6vh;
  border-style: solid;
  float: left;
  border-top: none;
}
.Text {
  color: #af24ff;
  font-size: 25px;
  text-align: center;
  font-variant: small-caps;
  margin-top: 2vh;
  margin-left: -22px;
  
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 30em;
}

.li{
  width: 5em;
  height: 5em;
  margin: 5em;
}

.Text:hover {
  color: aqua;
  cursor: pointer;
}

.list {
  list-style-type: none;
}
