#Home{
height: 79.5vh;
background-color: aqua;
border-color: #af24ff;
border-width: 0.6vh;
border-style: solid;
border-top:none;
border-left: none;
position: static;
margin:12%;
}
.slider{
width:500px;
height: 500px;
position:;

}