#Home{
height: 74.3vh;
background-color: aqua;
border-color: #af24ff;
border-width: 0.6vh;
border-style: solid;
border-top:none;
position: static;
}
.slider{
width:350px;
height: 200px;
margin-left: 42%;
padding-top: 12%;
}