#Home{
height: 73vh;
background-image: url(https://wallpaper.dog/large/10907455.jpg);
border-color: #af24ff;
border-width: 0.6vh;
border-style: solid;
border-top:none;
position: static;
}
.slider{
width:1150px;
height: 200px;
margin-left: 25%;
padding-top: 5%;
}